.jumbotron{
    background-color: black;
    background-image: url("images/neon-rock-hand-sign-prev-01-.jpg");
    background-size: 40%;
    background-position: center;
    /* background-repeat: inherit; */
    color: white;
    text-align: center;
    text-shadow: .5px .5px 4px rgb(129, 129, 129);     
}

html {
    background-color: black;
    background-image: url("images/mic2.jpg");
    background-size: cover;
    background-position: center;
 
}

body {
    background-color: black;
    background-image: url("images/neon-rock-hand-sign-prev-01-.jpg");
    background-size: cover;
    background-position: center;
}
